<!DOCTYPE HTML>
<html lang="en">
<head>
<!-- Force latest IE rendering engine or ChromeFrame if installed -->
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
<meta charset="utf-8">
<title>Voice converter</title>
<meta name="description" content="Acoustic simulator with multiple sound sources and multiple microphone arrays">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap styles -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Generic page styles -->
<link rel="stylesheet" href="static/css/style.css">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="static/css/jquery.fileupload.css">
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<style>
</style>
</head>
<body>

<div class="container">
	<h1>Voice converter</h1>
	<!-- The fileinput-button span is used to style the file input field as button -->
	<span class="btn btn-success fileinput-button">
		<i class="glyphicon glyphicon-plus"></i>
		<span>Select files...</span>
		<input id="fileupload" type="file" name="files[]" multiple>
	</span>
	<span class="btn fileinput-button">
		<i class="glyphicon glyphicon-plus"></i>
		<span>Upload model</span>
		<input id="modelupload" type="file" name="files[]" multiple>
	</span>
	<br>
	<br>
	<div id="progress" class="progress">
		<div class="progress-bar progress-bar-success"></div>
	</div>
	<!-- The container for the uploaded files -->
	<div id="files" class="files"></div>
	<br>
	<div>
	<span class="btn btn-success" id="button_run">
	Run
	</span>
	<button id="button_status" style="display:none;">status</button>
	</div>
	<div id="dialog" class="jquery-ui-dialog" title="wait for processing" style="display:none;"><textarea id="dialog_log" name="log" rows="10" cols="42">
</textarea></div>


</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> 
<script src="static/js/vendor/jquery.ui.widget.js"></script>
<script src="static/js/jquery.iframe-transport.js"></script>
<script src="static/js/jquery.fileupload.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
/*jslint unparam: true */
/*global window, $ */
$(function () {
	'use strict';
	var target_wid="";
	function splitExt(filename) {
		return filename.split(/\.(?=[^.]+$)/);
	}
	// Change this to the location of your server-side upload handler:
	$('#fileupload').change(function() {
		var url = '/upload/wav';
		var file = $(this).prop('files')[0];
		// アップロード
		var fd = new FormData();
		fd.append($(this).attr('name'), file);
		$.ajax({
			url: url,
			type: 'POST',
			data: fd,
			processData: false, // jQueryがデータを処理しないよう指定
			contentType: false,  // jQueryがcontentTypeを設定しないよう指定
			xhr: function(){
				var XHR = $.ajaxSettings.xhr();
			        if(XHR.upload){
					XHR.upload.addEventListener('progress',function (e) {
						var progress = parseInt(e.loaded / e.total * 100, 10);
						$('#progress .progress-bar').css(
						'width',
						progress + '%'
						);
					});
				}
				return XHR;
			}
		}).done(function( data ) {
			console.log(data)
			target_wid=data.result
		});
	});
	$('#modelupload').change(function() {
		var url = '/upload/model';
		var file = $(this).prop('files')[0];
		// アップロード
		var fd = new FormData();
		fd.append($(this).attr('name'), file);
		$.ajax({
			url: url,
			type: 'POST',
			data: fd,
			processData: false, // jQueryがデータを処理しないよう指定
			contentType: false,  // jQueryがcontentTypeを設定しないよう指定
			xhr: function(){
				var XHR = $.ajaxSettings.xhr();
			        if(XHR.upload){
					XHR.upload.addEventListener('progress',function (e) {
						var progress = parseInt(e.loaded / e.total * 100, 10);
						$('#progress .progress-bar').css(
						'width',
						progress + '%'
						);
					});
				}
				return XHR;
			}
		}).done(function( data ) {
			console.log(data)
		});
	});

	////
	function check_status(){
		$.getJSON('/status/'+target_wid).done(
		function(data){
			console.log(data);
		}).fail(function(err){
			console.log(err);
		})
	}
	$( "#dialog" ).dialog({ autoOpen: false,
		height: 300,
       		width: 450,
	});
	$('#button_run').on('click', function() {
		$.getJSON('/run/sim?wid='+target_wid).done(
		function(data){
			console.log(data);
			$( "#dialog" ).dialog( "open" );
			var id = setInterval(function(){
				$.getJSON('/status/'+target_wid).done(
				function(data){
					console.log(data);
					$("#dialog_log").text(data["log"])
					var psconsole = $('#dialog_log');
					psconsole.scrollTop(
						psconsole[0].scrollHeight - psconsole.height()
					);
					if(data["status"]!="running"){
						clearInterval(id);
						$( "#dialog" ).dialog( "close" );
						if(data["file"]){
							location.href=data["file"]
						}
					}
				}).fail(function(err){
					console.log(err);
				})
			}, 1000);
		}).fail(function(err){
			console.log(err);
		})
	});
	$('#button_status').on('click', function() {
		check_status();
	});
	function update_list(){
		$.getJSON('/list/wav').done(
			function(data){
				list_wav=data;
				console.log(data);
			}).fail(function(err){
				console.log(err);
			})
		$.getJSON('/list/tf').done(
			function(data){
				list_tf=data;
				console.log(data);
			}).fail(function(err){
				console.log(err);
			})
	}
	
	////
	var setting_data;
	$('#button_setting').on('click', function() {
		update_setting();
		var resultJson = JSON.stringify(setting_data);
		var downLoadLink = document.createElement("a");
		downLoadLink.download = "setting.json";
		downLoadLink.href = URL.createObjectURL(new Blob([resultJson], {type: "text.plain"}));
		downLoadLink.dataset.downloadurl = ["text/plain", downLoadLink.download, downLoadLink.href].join(":");
		downLoadLink.click();
	})
	
});
</script>
</body>
</html>
